@page
@model deportsoft_api.Pages.VerRutinasModel

@{
    ViewData["Title"] = "VerRutinas";
}

<h1>VerRutinas</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rutina[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rutina[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rutina[0].Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rutina[0].Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rutina[0].ImageFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rutina[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rutina) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
